**/.git
**/.vs
**/.idea
**/.cursor
**/bin
**/obj
**/*.user
**/*.suo
**/.DS_Store
.nuget
reports
artifacts
package
**/RavenDB
Soundtrail.Services.AppHost
!Soundtrail.Services.AppHost/servicebus-emulator
!Soundtrail.Services.AppHost/servicebus-emulator/Config.json
specs
*.md
.git
